
gamejam/GAMEJAM/Intermediate/CachedAssetRegistry.bin
gamejam/GAMEJAM/Saved/AutoScreenshot.png
gamejam/GAMEJAM/Saved/Config/Windows/EditorPerProjectUserSettings.ini
gamejam/GAMEJAM/Saved/Logs/GAMEJAM.log
